<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/header}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav}"></th:block>
</header>
<main class="p-5 bg-blur text-center my-main">
    <h1 class="text-light border-bottom">Add Album</h1>
    <div class="d-flex justify-content-center">
        <form th:action="@{/albums/add}" method="POST"
              th:object="${albumAddBindingModel}"
              class="text-light">
            <div class="form-row m-5">
                <div class="col">
                    <label for="name">Album name</label>
                    <input name="name"
                           th:field="*{name}"
                           th:errorclass="bg-danger"
                           id="name" type="text" class="form-control" placeholder="Album name">
                    <small id="nameError"
                           th:if="${#fields.hasErrors('name')}"
                           th:errors="*{name}"
                           class="form-text bg-danger rounded"></small>
                </div>
                <div class="col">
                    <label for="imgUrl">Image Url</label>
                    <input name="imgUrl" id="imgUrl"
                           th:field="*{imageURL}"
                           th:errorclass="bg-danger"
                           type="text" class="form-control" placeholder="Image Url">
                    <small id="imageUrlError"
                           th:if="${#fields.hasErrors('imageURL')}"
                           th:errors="*{imageURL}"
                           class="form-text bg-danger rounded"></small>
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="price">Price</label>
                    <input name="price" id="price"
                           th:field="*{price}"
                           th:errorclass="bg-danger"
                           type="number" class="form-control" placeholder="Price">
                    <small id="priceError"
                           th:if="${#fields.hasErrors('price')}"
                           th:errors="*{price}"
                           class="form-text bg-danger rounded"></small>
                </div>
                <div class="col">
                    <label for="copies">Copies</label>
                    <input name="copies" id="copies" type="number"
                           th:field="*{copies}"
                           th:errorclass="bg-danger"
                           class="form-control" placeholder="Copies">
                    <small id="copiesError"
                           th:if="${#fields.hasErrors('copies')}"
                           th:errors="*{copies}"
                           class="form-text bg-danger rounded"></small>
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="releaseDate">Release date</label>
                    <input name="releaseDate" id="releaseDate"
                           th:field="*{releaseDate}"
                           th:errorclass="bg-danger"
                           type="date" class="form-control" placeholder="Release date">
                    <small id="releaseDateError"
                           th:if="${#fields.hasErrors('releaseDate')}"
                           th:errors="*{releaseDate}"
                           class="form-text bg-danger rounded"></small>
                </div>
                <div class="col">
                    <label for="producer">Producer</label>
                    <input name="producer" id="producer"
                           th:field="*{producer}"
                           th:errorclass="bg-danger"
                           type="text" class="form-control" placeholder="Producer">
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="artist">Artist</label>
                    <select name="artist" id="artist" th:field="*{artist}" th:errorclass="bg-danger"
                            class="custom-select">
                        <option th:each="a : ${T(musicdb.data.entity.enumeration.ArtistName).values()}"
                                th:text="${a}"
                                th:value="${a}"
                                selected>Select Artist</option>
                    </select>
                </div>
                <div class="col">
                    <label for="genre">Genre</label>
                    <select name="genre" id="genre" class="custom-select">
                        <option th:each="g : ${T(musicdb.data.entity.enumeration.GenreName).values()}"
                                th:text="${g}"
                                th:value="${g}"
                                selected>Select Genre</option>
                    </select>
                </div>
            </div>

            <div class="form-row m-5">
                <div class="col">
                    <label for="description">Description</label>
                    <textarea name="description"
                              th:field="*{description}"
                              th:errorclass="bg-danger"
                              id="description" type="text" class="form-control" placeholder="Description"></textarea>
                    <small id="descriptionError"
                           th:if="${#fields.hasErrors('description')}"
                           th:errors="*{description}"
                           class="form-text bg-danger rounded"></small>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-primary btn-block w-50" type="submit">Add New Album</button>
            </div>
        </form>
    </div>
</main>
<footer class="footer bg-blur">
    <th:block th:include="~{fragments/footer}"></th:block>div>
</footer>
</body>
</html>
